@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
    --border-color: #383838;
    --shadow-color: #a3a3a3;
    --divider-color: #bbb;
}

body {
    background-color: #ebebeb;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 5px 5px var(--shadow-color);
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

#new-book-btn, #add-book-btn, #remove-book-btn {
    border: 1px solid #383838; 
    border-radius: 10px;
    padding: 10px 0px;
    background-color: #b3e3ff;
    color: #111111;
}

#new-book-btn {
    font-size: 1rem;
    width: 100px;
}

#add-book-btn {
    font-size: 0.9rem;
    width: 85px;
    align-self: flex-end;
}

#remove-book-btn {
    font-size: 0.8rem;
    width: 80px;
    padding: 8px;
}

#close-btn {
    border: none;
    position: absolute;
    top: 10px;
    right: 17px;
    background-color: #fff;
    font-size: 1.5rem;
}

#new-book-dialog {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    height: 330px;
    align-self: center;
    justify-self: center;
}

#new-book-dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

label {
    font-size: 1rem;
}

input, select {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 5px;
    outline: none;
}

input {
    width: 200px;
}

input:focus {
    border: 2px solid var(--border-color);
}

.books-container {
    display: grid;
    padding: 30px;
    gap: 10px;
}

.books-list-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--shadow-color);
    text-align: center;
}

#books-list {
    display: grid;
    border-radius: 5px;
}

.book-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
    background-color: #fff;
    padding: 20px;
    box-shadow: 3px 3px 3px var(--shadow-color);
    text-align: center;
    align-items: center;
    gap: 10px;
}

.book-card h4 {
    font-weight: normal;
}

.book-card:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.book-card:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.book-card:not(:last-child) {
    border-bottom: 1px solid var(--divider-color);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--divider-color);
}
